<!DOCTYPE html>
<head>

    <title>Auduma maisiņš</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../picture/background.jpg">
    </div>

 
        <div class="rectangle">

            <div>
                <span><a class="back" href="../index.html"><i class="arrow2 left"></i>atgriezties</a></span>
            </div>

            <h1 class="title">Auduma maisiņi</h1>
                        
            <h3 class="text">Produkta izmērs - 50x50cm</h3>

                <h3 class="text">
                    Apdrukas izmēri un cenas:
                </h3>
                <ul class="list">
                    <li>30x25cm   -   15,00€</li>
                    <li>35x30cm   -   16,00€</li>
                    <li>40x35cm   -   18,00€</li>
                    <li>45x40cm   -   20,00€</li>
                    <li>50x50cm   -   22,00€</li>
                </ul>
        
                <h3 class="text">
                Produkts ir pieejams šādās krāsās:
                </h3>
                <ul class="list">
                    <li>melns <div class="box black"></div></li>
                    <li>balts <div class="box white"></div></li>
                    <li>sarkans <div class="box red"></div></li>
                    <li>oranžs <div class="box orange"></div></li>
                    <li>dzeltens <div class="box yellow"></div></li>
                    <li>zaļš <div class="box green"></div></li>
                    <li>zils <div class="box blue"></div></li>
                    <li>violets <div class="box purple"></div></li>
                    <li>brūns <div class="box brown"></div></li>
                
                </ul>

        
            <img class="maisins" src="../picture/maisins.png" alt="auduma maisiņš">
        
        </div>



</body>
</html>