<!DOCTYPE html>
<head>

    <title>Bļodas</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <div class="background">
        <img class="background-image" alt="background image" src="../picture/background.jpg">
    </div>


        <div class="rectangle">
            <div>
                <span><a class="back" href="../index.html"><i class="arrow2 left"></i>atgriezties</a></span>
            </div>
            <h1 class="title">Bļodas</h1>

            <h3 class="text">Produkta augstums un diametrs - 6x20cm</h3>
        
                <h3 class="text">
                    Apdrukas izmēri un cenas:
                </h3>
                <ul class="list">
                    <li>10x5cm   -   8,00€</li>
                    <li>15x10cm   -   10,00€</li>
                    <li>30x5cm   -   12,00€</li>
                    <li>20x15cm   -   13,00€</li>
                    <li>30x10cm   -   14,00€</li>
                </ul>
        
                <h3 class="text">
                Produkts ir pieejams šādās krāsās:
                </h3>
                <ul class="list">
                    <li>melns <div class="box black"></div></li>
                    <li>balts <div class="box white"></div></li>
                
                </ul>
        
            <img class="blodas" src="../picture/blodas.webp" alt="Bļodas">
        
        </div>



</body>
</html>