<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pakalpojumi</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="background">
        <img class="background-image" alt="background image" src="picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="picture/logo.png">

            <nav>
                <span><a href="../index.html">SĀKUMS</a></span>
            </nav>

            <span class="selected-lang">Latvian</span>
        </div>
    </div>
</body>
</html>